.header {
    background-color: #FFFFFF;
}

.header .container{
    display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 16px;
padding-bottom: 16px;
}
.header__list {
    display: none;
@media screen and (min-width: 768px) {

    display: flex;
flex-direction: row;
gap: 20px;
  }
}

.header__span {
    font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.04em;
color: #AE1332;
}
.header__logo {
    display: flex;
flex-direction: row;
align-items: center;
}
.header__logo-icon {
    width: 16px;
height: 16px;
fill: #AE1332;
}
.header__logo-span {
    font-weight: 700;
font-size: 14px;
line-height: 18px;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #AE1332;
margin-left: 8px;
}
.header__shop-icon {
    
display: none;
@media screen and (min-width: 768px) {

    width: 28px;
height: 28px;
fill: #AE1332;
  }
}

.header__open-button {
    background-color: transparent;
}
.header__open-icon {
    width: 24px;
height: 24px;
fill: #AE1332;
stroke: #AE1332;
}