// .step-section {
// }
// ÑŒ
.step-section__titel {
    font-weight: 500;
    font-size: 28px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    max-width: 624px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 14px;

    @media screen and (min-width: 768px) {
        font-size: 40px;
    }
}

.step-section__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    max-width: 509px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 44px;
}

.step-section__info-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 81px;
}

.step-section__info-item {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 389px;
    height: 128px;
    display: flex;
    padding: 40px 20px;
}

.step-section__info-button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #AE1332;
    border-radius: 200px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    border: none;
    width: 136px;
    height: 48px;
    margin-right: 14px;
}

.color-1 {
    background-color: #F5CE13;
}

.color-2 {
    background-color: #A1C864;
}

.step-section__info-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;
    color: #000000;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    max-width: 166px;
}

// .step-section__step-gif {
//     border-radius: 20px;
//     display: block;
//     width: 335px;
// height: 476px;

//     @media screen and (min-width: 768px) {
//         width: 704px;
//         height: 476px;
//     }

//     @media screen and (min-width: 768px) {
//         width: 860px;
//         height: 476px;
//     }
// }

.step-section__gif-div {
    margin-left: auto;
    border-radius: 20px;
    margin-right: auto;
    width: 300px;
    height: 476px;
    overflow: hidden;
    background-image: url(../img/mobile/step-gif-mobile.gif);

    @media screen and (min-width: 375px) {
        width: 335px;
    }

    @media screen and (min-width: 768px) {
        width: 704px;
        height: 476px;
        background-image: url(../img/tablet/step-gif-tablet.gif);
    }

    @media screen and (min-width: 1200px) {
        width: 860px;
        height: 476px;
        background-image: url(../img/dekstop@1x/step-gif-dekstop.gif);
    }
}