<section id="fruits" class="fruits">
  <h2 class="fruits__title">ORGANIC fRUITS</h2>
  <p class="fruits__text">
    Our organic fruits are hand-picked from local farms and delivered straight
    to your doorstep, ensuring that you get the freshest and most nutritious
    produce possible. We offer a wide selection of organic fruits grown without
    the use of harmful pesticides or chemicals.
  </p>
  <ul class="fruits-list">
    <li class="fruits-list__item fruits-list__item1" data-aos="fade-up" data-aos-duration="300">
      <h3 class="fruits-list__title">Strawberry</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/fruits-card1@1x.webp"
        alt="fruit"
        class="fruits-list__text"
      />
      <button type="button" class="fruits-list__price">100 UAH / kg</button>
    </li>
    <li class="fruits-list__item fruits-list__item2" data-aos="fade-up" data-aos-duration="600">
      <h3 class="fruits-list__title">Banana</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/fruits-card2@1x.webp"
        alt="fruit"
        class="fruits-list__text"
      />
      <button type="button" class="fruits-list__price">80 UAH / kg</button>
    </li>
    <li class="fruits-list__item fruits-list__item3" data-aos="fade-up" data-aos-duration="900">
      <h3 class="fruits-list__title">Watermelon</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/hero-watermelon@1x.webp"
        alt="fruit"
        class="fruits-list__text"
      />
      <button type="" class="fruits-list__price">40 UAH / kg</button>
    </li>
    <li class="fruits-list__item fruits-list__item4" data-aos="fade-up" data-aos-duration="300">
      <h3 class="fruits-list__title">Lime</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/fruits-card4@1x.webp"
        alt="fruit"
        class="fruits-list__text" 
      />
      <button type="button" class="fruits-list__price">60 UAH / kg</button>
    </li>
    <li class="fruits-list__item fruits-list__item5" data-aos="fade-up" data-aos-duration="600">
      <h3 class="fruits-list__title">Apple</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/fruits-card5@1x.webp"
        alt="fruit"
        class="fruits-list__text"
      />
      <button type="button" class="fruits-list__price">50 UAH / kg</button>
    </li>
    <li class="fruits-list__item fruits-list__item6" data-aos="fade-up" data-aos-duration="900">
      <h3 class="fruits-list__title">Peach</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/fruits-card6@1x.webp"
        alt="fruit"
        class="fruits-list__text"
      />
      <button type="button" class="fruits-list__price">80 UAH / kg</button>
    </li>
    <li class="fruits-list__item fruits-list__item7" data-aos="fade-up" data-aos-duration="300">
      <h3 class="fruits-list__title">Plums</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/fruits-card7@1x.webp"
        alt="fruit"
        class="fruits-list__text"
      />
      <button type="button" class="fruits-list__price">40 UAH / kg</button>
    </li>
    <li class="fruits-list__item fruits-list__item8" data-aos="fade-up" data-aos-duration="600">
      <h3 class="fruits-list__title">Orange</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/fruits-card8@1x.webp"
        alt="fruit"
        class="fruits-list__text"
      />
      <button type="button" class="fruits-list__price">60 UAH / kg</button>
    </li>
    <li class="fruits-list__item fruits-list__item9" data-aos="fade-up" data-aos-duration="900">
      <h3 class="fruits-list__title">Kiwi</h3>
      <p class="fruits-list__text">Plant</p>
      <img
        src="./img/desktop/fruits-card9@1x.webp"
        alt="fruit"
        class="fruits-list__text"
      />
      <button type="button" class="fruits-list__price">90 UAH / kg</button>
    </li>
  </ul>
  <button type="button" data-open-order-modal class="fruits__btn">
    <svg width="14" height="14" class="fruits__icon">
      <use href="./img/symbol-defs.svg#fruits-icon"></use>
    </svg>
    <p class="fruits__btn-text">ORDER</p>
  </button>
</section>
