<header class="header">
  <div class="container">
    <ul class="header__list">
      <li class="header__item">
        <span class="header__span"> How It Works </span>
      </li>
      <li class="header__item">
        <span class="header__span"> Fruits </span>
      </li>
      <li class="header__item">
        <span class="header__span"> Contacts </span>
      </li>
    </ul>
    <a class="header__logo">
      <svg class="header__logo-icon">
        <use href="./img/symbol-defs.svg#icon-logo-icon"></use>
      </svg>
      <span class="header__logo-span"> fresh harvest box </span>
    </a>
    <svg class="header__shop-icon">
      <use href="./img/symbol-defs.svg#icon-shop-icon"></use>
    </svg>
  </div>
</header>
