<section class="hero-section">
    <div class="container">
        <div class="hero-section__main-div-1">
            <p class="hero-section__main-text">
                Our expertly curated fruit baskets are made with the freshest, highest quality fruits available. Whether
                you are
                looking for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.
            </p>
            <div class="hero-section__div-1">
                <h3 class="hero-section__titel">
                    Fruit
                </h3>
                <img class="hero-section__img" src="./img/dekstop@1x/water-malon-img@1x.webp" alt="watermalon">
                <p class="hero-section__text">
                    Refreshing and juicy, watetmelon is the perfect summer treat and a great source of hydration
                </p>
            </div>
        </div>
        <div class="hero-section__main-div-2">

            <div class="hero-section__main-div">
                <img class="hero-section__main-img" src="./img/dekstop@1x/hero-main-img@1x.webp" alt="">
            </div>

        </div>
        <div class="hero-section__main-div-3">
            <div class="hero-section__div-2">
                <h3 class="hero-section__titel">
                    Fruit
                </h3>
                <img class="hero-section__img" src="./img/dekstop@1x/strowberis-2-img1x.webp" alt="watermalon">
                <p class="hero-section__text">
                    Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a delicious
                    and healthy snack
                </p>
            </div>
            <ul class="hero-section__list">
                <li class="hero-section__item">
                    <button class="hero-section__button">
                        #organic
                    </button>
                </li>
                <li class="hero-section__item">
                    <button class="hero-section__button">
                        #products
                    </button>
                </li>
                <li class="hero-section__item">
                    <button class="hero-section__button">
                        #basket
                    </button>
                </li>
                <li class="hero-section__item">
                    <button class="hero-section__button">
                        #fruits
                    </button>
                </li>
            </ul>
        </div>
        <div class="hero-section__shop-button">
            <span class="hero-section__shop-span">
                shop now
            </span>
        </div>
        <h2 class="hero-section__main-title">
            fresh harvest box
            is your one-stop place for a delicious fruit basket
        </h2>
        <img class="hero-section__stroweberi-img" src="./img/dekstop@1x/strowberi-img@1x.webp" alt="strowberi">
        <img class="hero-section__banana-img" src="./img/dekstop@1x/banana-img@1x.webp" alt="banana">



    </div>

</section>