<div data-order-modal class="order-modal is-hidden">
  <button data-close-order-modal type="button" class="order-modal__close">
    <svg class="order-modal__cross">
      <use href="./img/symbol-defs.svg#cross"></use>
    </svg>
  </button>
  <h2 class="order-modal__title">Your Order</h2>
  <ul class="order-cards">

    <!-- strawberry  -->

    <li class="order-cards__item">
      <input id="strawberry" type="checkbox" class="order-cards__checkbox" />
      <label for="strawberry" class="order-cards__strawberry">
        <span class="order-cards__unchecked">
          <svg width="20" height="20" class="unchecked-icon">
            <use href="./img/symbol-defs.svg#unchecked"></use>
          </svg>
        </span>
        <span class="order-cards__checked">
          <svg width="20" height="20" class="checkbox-icon">
            <use href="./img/symbol-defs.svg#checkbox"></use>
          </svg>
        </span>
        <div>
          <h3 class="order-cards__title">Strawberry Basket</h3>
          <p class="order-cards__text">Plant</p>
        </div>
        <img
          src="./img/desktop/hero-basket@1x.webp"
          alt="strawberry-basket"
          class="order-cards__photo1"
        />
      </label>
    </li>

<!-- apple  -->

    <li class="order-cards__item">
      <input id="apple" type="checkbox" class="order-cards__checkbox" />
      <label for="apple" class="order-cards__apple">
        <span class="order-cards__unchecked">
          <svg width="20" height="20" class="unchecked-icon">
            <use href="./img/symbol-defs.svg#unchecked"></use>
          </svg>
        </span>
        <span class="order-cards__checked">
          <svg width="20" height="20" class="checkbox-icon">
            <use href="./img/symbol-defs.svg#checkbox"></use>
          </svg>
        </span>
        <div class="order-cards__content">
          <h3 class="order-cards__title">Apple Basket</h3>
          <p class="order-cards__text">Plant</p>
        </div>
        <img
          src="./img/desktop/order-card2@1x.webp"
          alt="apple-basket"
          class="order-cards__photo2"
        />
      </label>
    </li>

<!-- fruits  -->

    <li class="order-cards__item">
      <input id="fruits" type="checkbox" class="order-cards__checkbox" />
      <label for="fruits" class="order-cards__fruits">
        <span class="order-cards__unchecked">
          <svg width="20" height="20" class="unchecked-icon">
            <use href="./img/symbol-defs.svg#unchecked"></use>
          </svg>
        </span>
        <span class="order-cards__checked">
          <svg width="20" height="20" class="checkbox-icon">
            <use href="./img/symbol-defs.svg#checkbox"></use>
          </svg>
        </span>
        <div class="order-cards__content">
          <h3 class="order-cards__title">Fruits Basket</h3>
          <p class="order-cards__text">Plant</p>
        </div>
        <img
          src="./img/desktop/order-card3@1x.webp"
          alt="fruits-basket"
          class="order-cards__photo2"
        />
      </label>
    </li>
  </ul>
  <ul class="order-list">
    <li class="order-list__item">
      <input required
        placeholder="Enter full name..."
        type="text"
        class="order-list__filling"
      />
    </li>
    <li class="order-list__item">
      <input required
        placeholder="Enter email..."
        type="text"
        class="order-list__filling"
      />
    </li>
    <li class="order-list__item">
      <input required
        placeholder="Enter card..."
        type="text"
        class="order-list__filling"
      />
    </li>
    <li class="order-list__item">
      <input required
        placeholder="Enter comments..."
        type="text"
        class="order-list__filling order-list__comments"
      />
    </li>
  </ul>
  <button data-hide-order-modal class="order-modal__btn">Submit</button>
  <img
    src="./img/desktop/order-photo@1x.webp"
    alt="woman"
    class="order-modal__photo"
  />
</div>
