<section class="step-section">
    <div class="container">
         <h2 class="step-section__titel">
        To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="step-section__text">
        Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh
        fr<section id="steps" class="step-section">
    <ul class="step-section__info-list">
        <li class="step-section__info-item">
            <button class="step-section__info-button">
                First Step
            </button>
            <p class="step-section__info-text">
                Just choose the fruit you want to order by clicking on the checkboxes next to it.
            </p>
        </li>
        <li class="step-section__info-item">
            <button class="step-section__info-button color-1">
                Second Step
            </button>
            <p class="step-section__info-text">
                Click on the basket and fill out the form.
            </p>
        </li>
        <li class="step-section__info-item">
            <button class="step-section__info-button color-2">
                Third Step
            </button>
            <p class="step-section__info-text">
                Sit back and relax! Your fresh fruit basket will be delivered.
            </p>
        </li>
    </ul>
    <div class="step-section__gif-div">
        <!-- <picture  class="step-section__step-gif">
            <source
              srcset="
              ./img/dekstop@1x/step-gif.gif 1x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
              ./img/tablet/step-gif-tablet.gif 1x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
              ./img/mobile/step-gif-mobile.gif 1x
              "
              media="(max-width: 767px)"
            />
            <img src="./img/dekstop@1x/step-gif.gif" alt="step gif">
          </picture> -->
    </div>
    
    </div>
   
</section>