<section id="steps" class="step-section">
    <h2 class="step-section__titel">
        To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="step-section__text">
        Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh
        fruit without ever leaving your home. Whether you're looking for a healthy snack or a thoughtful gift, our fruit
        baskets are the perfect choice.
    </p>
    <ul class="step-section__info-list">
        <li class="step-section__info-item">
            <button class="step-section__info-button">
                First Step
            </button>
            <p class="step-section__info-text">
                Just choose the fruit you want to order by clicking on the checkboxes next to it.
            </p>
        </li>
        <li class="step-section__info-item">
            <button class="step-section__info-button color-1">
                Second Step
            </button>
            <p class="step-section__info-text">
                Click on the basket and fill out the form.
            </p>
        </li>
        <li class="step-section__info-item">
            <button class="step-section__info-button color-2">
                Third Step
            </button>
            <p class="step-section__info-text">
                Sit back and relax! Your fresh fruit basket will be delivered.
            </p>
        </li>
    </ul>
</section>