<section class="subscribe">
  <div class="container">
    <h2 class="subscribe__title">Fresh Harvest Box has got you covered</h2>
    <div class="subscribe__photos">
      <picture>
        <source
          srcset="./img/desktop/subscribe-photo1@1x.webp"
          media="(min-width:1200px)"
        />
        <source
          srcset="./img/tablet/subscribe-photo1-tablet@1x.webp"
          media="(max-width:1199px)"
        />
        <img
          class="subscribe__photo1"
          src="./img/desktop/subscribe-photo1@1x.webp"
          alt="team1"
        />
      </picture>
      <img
        src="./img/desktop/subscribe-photo2@1x.webp"
        alt="subscribe-photo"
        class="subscribe__photo2"
      />
    </div>
    <p class="subscribe__text">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <div class="subscribe__content">
      <input
        placeholder="Enter email..."
        type="text"
        class="subscribe__filling"
      />
      <button data-open-modal class="subscribe__btn">Send</button>
    </div>
  </div>
</section>
