<div class="bacdrop1 is-hidden" data-backdrop>
  <div class="thanks-modal">
    <button class="thanks-modal__close-button" data-close-modal>
      <svg class="thanks-modal__close-icon">
        <use href="./img/symbol-defs.svg#cross"></use>
      </svg>
    </button>
    <img
      class="thanks-modal__img"
      src="./img/desktop/thanks-photo@1x.webp"
      alt="thanks photo"
    />
    <h2 class="thanks-modal__titel">tHANK YOU</h2>
    <p class="thanks-modal__text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
